body {
  width: 100%;
  font-family: 'Roboto Condensed', sans-serif; }

.container {
  width: 100%;
  margin: auto; }

.container-fluid {
  padding: 0px; }

.navbar-fixed-top {
  font-weight: 400;
  background-color: #fff; }
  .navbar-fixed-top .navbar-brand {
    font-weight: 800; }

.icon-bar {
  background-color: #337ab7; }

#homepage #logo {
  width: 200px;
  height: 200px;
  margin: 20% auto; }

#work h2 {
  margin: 0px auto;
  padding: 15px; }

#about {
  padding: 5%; }
  #about #about-me-photo {
    width: 80%;
    height: 80%; }
